<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Expense Dashboard</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    <div class="container">
      <h1>Expense Analytics Dashboard</h1>

      <div class="summary-box">
        <div class="card">
          <h2>Total Invoices</h2>

          <p>{{ invoice_count }}</p>
        </div>

        <div class="card">
          <h2>Total Expense</h2>

          <p>₹ {{ total_expense }}</p>
        </div>
      </div>

      <div class="chart-container">
        <canvas
          id="expenseChart"
          data-total="{{ total_expense }}"
          width="400"
          height="200"
        >
        </canvas>
      </div>

      <h2>Processed Invoices</h2>

      <table>
        <tr>
          <th>ID</th>

          <th>Vendor</th>

          <th>Invoice Number</th>

          <th>Date</th>

          <th>Tax</th>

          <th>Total</th>
        </tr>

        {% for inv in invoices %}

        <tr>
          <td>{{ inv[0] }}</td>

          <td>{{ inv[1] }}</td>

          <td>{{ inv[2] }}</td>

          <td>{{ inv[3] }}</td>

          <td>{{ inv[4] }}</td>

          <td>{{ inv[5] }}</td>
        </tr>

        {% endfor %}
      </table>

      <br />

      <a href="/">
        <button>Upload Another Invoice</button>
      </a>
    </div>

    <script src="{{ url_for('static', filename='charts.js') }}"></script>
  </body>
</html>
